<div style="background-image: url('assets/bg-strategy.png'); background-repeat: no-repeat; background-size: cover;">
  <section class="container pt-md-5">
    <div class="row mt-5">
      <div class="col-md-4">
        <h1 class="fw-bolder text-mawaka display-5">Our <span class="title pe-3">Strategy&nbsp;</span></h1>
      </div>
    </div>
    <div class="row mt-5 py-md-5">
      <div class="col-md-6 mt-3">
        <div class="card custom-pill-start bg-card h-100">
          <div class="card-body">
            <div class="row">
              <div class="col-md-3 align-self-center text-center">
                <img src="assets/strategy-icon-1.png" alt="">
              </div>
              <div class="col-md-9 fs-5">
                <p class="fw-bold mt-3">Careful Portfolio Selection</p>
                <p class="text-justify">
                  We conduct in-depth research and careful analysis to select companies with high growth potential and innovative solutions.
                  This strategy allows us to invest our capital wisely and increase the chances of long-term success.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-3">
        <div class="card custom-pill-end h-100">
          <div class="card-body">
            <div class="row">
              <div class="col-md-9 fs-5">
                <p class="fw-bold">Investment Diversification</p>
                <p class="text-justify">
                  We adopt a strong diversification approach in building our investment portfolio. By investing in different sectors and stages of development, we reduce risk and increase the opportunity to achieve optimal returns for our shareholders.
                </p>
              </div>
              <div class="col-md-3 align-self-center text-center mt-3">
                <img src="assets/strategy-icon-2.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-3">
        <div class="card custom-pill-start h-100">
          <div class="card-body">
            <div class="row">
              <div class="col-md-3 align-self-center text-center">
                <img src="assets/strategy-icon-3.png" alt="">
              </div>
              <div class="col-md-9 fs-5">
                <p class="fw-bold mt-3">Following Market Trends</p>
                <p class="text-justify">
                  We stay ahead of market trends and industry innovations. By identifying emerging investment opportunities and understanding changes in market needs, we can make smart investment decisions and gain a sustainable competitive advantage.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-3">
        <div class="card custom-pill-end bg-card h-100">
          <div class="card-body">
            <div class="row">
              <div class="col-md-9 fs-5">
                <p class="fw-bold">Flexibility In Strategy</p>
                <p class="text-justify">
                  We have flexibility in our investment strategy to accommodate changing market conditions and the needs of our portfolio companies. We are prepared to adjust our portfolio according to market dynamics and emerging opportunities.
                </p>
              </div>
              <div class="col-md-3 align-self-center text-center mt-3">
                <img src="assets/strategy-icon-4.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 mb-5"></div>
    </div>
  </section>
</div>
