<section class="container my-5">
  <div class="row">
    <div class="col-md-12">
      <h1 class="fw-bolder">Our Portfolio</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button class="btn rounded-5 border-2 border">All Category</button>
      <button class="btn rounded-5 border-2 border ms-1">Construction</button>
      <button class="btn rounded-5 border-2 border ms-1">Telco - Infrastructure</button>
      <button class="btn rounded-5 border-2 border ms-1">Power Solution</button>
      <button class="btn rounded-5 border-2 border ms-1">Logistics</button>
      <button class="btn rounded-5 border-2 border ms-1">Business Services</button>
      <button class="btn rounded-5 border-2 border ms-1">Fintech</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">

    </div>
  </div>
  </section>
