<section class="container my-5 py-md-5">
  <div class="row">
    <div class="col-md-12">
      <h1 class="fw-bolder">Our Portfolio</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ng-container *ngFor="let category of categories; let index = index">
        <button
          (click)="filter(category)"
          class="btn rounded-5 border-2 border {{ index > 0 ? 'ms-1' : '' }}">{{ category.category_name }}</button>
      </ng-container>
    </div>
  </div>
  <div class="row m-3 row-cols-md-4 g-4">
    <div class="col" *ngFor="let portfolio of data">
      <div class="card rounded-5 h-100">
        <div class="card-body">
          <img src="{{ portfolio.image }}" alt="" class="w-100 border border-0 rounded-5 card-img-top object-fit-contain" style="height: 75%;">
          <h6 class="fw-bolder mt-3">{{ portfolio.name }}</h6>
        </div>
      </div>
    </div>
  </div>
</section>

