<section class="container-fluid text-center">
  <div class="row">
    <div class="col-md-12 p-md-5" style="background-image: url('assets/img/information/bg-section-1-1.png'); background-repeat: no-repeat; height: 100vh;
    background-size: cover;">
      <h2 class="fw-bolder nca-text-danger display-3 mt-5">Project Experience</h2>
      <p class="mt-3 fw-normal fs-4">
        Our goal is to be the leading provider of power solutions, consistently <br>
        delivering the best products and services to meet customer needs.
      </p>

    </div>
  </div>
</section>
<section class="container-fluid bg-white">
  <div class="row text-center">
    <div class="col-md-12">
      <h2 class="fw-bolder display-3 mt-5">Our Gallery</h2>
    </div>
  </div>
  <div class="row justify-content-center pb-md-1">
    <div class="col-md-2">
      <div class="card border-0">
        <img src="assets/img/information/gallery-1.png" class="rounded-3" alt="...">
        <img src="assets/img/information/gallery-6.png" class="rounded-3 my-1" alt="...">
      </div>
    </div>
    <div class="col-md-2">
      <div class="card border-0">
        <img src="assets/img/information/gallery-2.png" class="rounded-3" alt="...">
        <img src="assets/img/information/gallery-7.png" class="rounded-3 my-1" alt="...">
      </div>
    </div>
    <div class="col-md-2">
      <div class="card border-0">
        <img src="assets/img/information/gallery-3.png" class="rounded-3" alt="...">
        <img src="assets/img/information/gallery-8.png" class="rounded-3 my-1" alt="...">
      </div>
    </div>
    <div class="col-md-2">
      <div class="card border-0">
        <img src="assets/img/information/gallery-4.png" class="rounded-3" alt="...">
        <img src="assets/img/information/gallery-9.png" class="rounded-3 my-1" alt="...">
      </div>
    </div>
    <div class="col-md-2">
      <div class="card border-0">
        <img src="assets/img/information/gallery-5.png" class="rounded-3" alt="...">
        <img src="assets/img/information/gallery-10.png" class="rounded-3 my-1" alt="...">
      </div>
    </div>
  </div>
</section>
