<div class="container">
  <div class="row">
    <div class="col-md-3">
      Sitemap
      <hr>
      <p>About Us</p>
      <p>Portfolio</p>
      <p>Strategy</p>
      <p>Contact Us</p>
    </div>
    <div class="col-md-1">
      Follow Us
      <hr>
      <p><i class="bi bi-linkedin"></i></p>
    </div>
    <div class="col-md-3">
      Get in touch
      <hr>
      <p>
        If you have any question or just <br>
        want to say hi, please feel free <br>
        to reach us on:
      </p>
      <p>
        mawaka@gmail.com <br>
        +62 81234567890
      </p>
    </div>
    <div class="col-md-5">
      Address
      <hr>
      <div class="row">
        <div class="col-md-5">

        </div>
        <div class="col-md-7">
          <small>
            Jl. Kita Bersama No.2A <br>
            Mangga Besar III <br>
            Taman Sari, Jakarta Barat <br>
            RT 002 / RW002 <br>
            DKI Jakarta, 11180 <br>
            Indonesia
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      © 2023 Mawaka Ventures
    </div>
    <div class="col-md-6">
      @Mawaka
    </div>
  </div>
</div>
