<footer class="nca-bg-dark">
  <div class="container text-white">
    <div class="row p-md-5">
      <div class="col-md-6">
        <img src="assets/img/logo.png" alt="">
        <p>
          <span class="fs-3 fw-bold">PT. Nuansa Chatur Anugerah</span> <br>
          SOHO Pancoran, Noble Tower, Lt. 15th / 1515 <br>
          Jl. MT. Haryono Kav. 2-3, Tebet, Jakarta Selatan
        </p>
        <p class="mt-5">
          ©&nbsp;2024. PT Nuansa Chatur Anugerah - NCA. All Rights Reserved. <br>
          <span class="text-decoration-underline"><span class="nca-text-dark">©&nbsp;2024. PT Nuansa </span></span>
        </p>
        <p class>
        </p>
      </div>
      <div class="col-md-6 border-start border-danger border-5">
        <div class="row">
          <div class="col-md-6">
            <div class="card nca-bg-dark text-white">
              <div class="card-body text-center fw-bold fs-5">
                Profile NCA
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card nca-bg-dark text-white">
              <div class="card-body text-center fw-bold fs-5">
                Service
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card nca-bg-dark text-white">
              <div class="card-body text-center fw-bold fs-5">
                Contact Us
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card nca-bg-dark text-white">
              <div class="card-body text-center fw-bold fs-5">
                Sitemap
              </div>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card nca-bg-dark text-white">
              <div class="card-body text-center fw-bold fs-5">
                News
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card nca-bg-dark text-white">
              <div class="card-body text-center fw-bold fs-5">
                Teams
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</footer>
