<footer class="nca-bg-dark">
  <div class="container text-white">
    <div class="row p-md-5">
      <div class="col-md-6 mt-5">
        <img src="assets/img/logo.png" alt="logo nca">
        <p>
          <span class="fs-3 fw-bold">PT. Nuansa Chatur Anugerah</span> <br>
          SOHO Pancoran, Noble Tower, Lt. 15th / 1515 <br>
          Jl. MT. Haryono Kav. 2-3, Tebet, Jakarta Selatan
        </p>
        <p class="mt-5">
          ©&nbsp;2024. PT Nuansa Chatur Anugerah - NCA. All Rights Reserved. <br>
          <span class="text-decoration-underline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </p>
        <p class>
        </p>
      </div>
      <div class="col-md-6 border-start border-danger border-5 mt-5">
        <div class="row">
          <div class="col-md-6">
            <div class="card nca-bg-dark text-white border-0">
              <a routerLink="about-us" class="card-body text-center fw-bold fs-5 text-decoration-none">
                Profile NCA
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card nca-bg-dark text-white border-0">
              <a routerLink="product" class="card-body text-center fw-bold fs-5 text-decoration-none">
                Service
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card nca-bg-dark text-white border-0">
              <a routerLink="contact-us" class="card-body text-center fw-bold fs-5 text-decoration-none">
                Contact Us
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card nca-bg-dark text-white border-0">
              <a routerLink="home" class="card-body text-center fw-bold fs-5 text-decoration-none">
                Sitemap
              </a>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card nca-bg-dark text-white border-0">
              <a routerLink="contact-us" class="card-body text-center fw-bold fs-5 text-decoration-none">
                News
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>
