<div class="hero-section">
  <div class="right-section"></div>
  <div class="hero-content">
    <h1 class='home-title'>Empowering Industries with Cutting-Edge Power Solutions</h1>
    <p>Discover cutting-edge products that deliver reliable, safe, and sustainable energy solutions for tomorrow's world.</p>
    <button class="cta-button" routerLink="../information">More Information <i class="bi bi-arrow-right"></i></button>
  </div>
</div>

<section
  class="product-list m-md-5 pt-5 position-relative overflow-hidden rounded-3"
  style="background-color: white; max-height: 1500px; min-height: 500px;"
  id="myGroup"
>
  <div class="position-absolute z-0 top-0 gradient-container w-100 h-100" style="left: 30%;">
    <img
      [src]="product[selectedProduct].image"
      class="position-absolute top-50 start-50 translate-middle w-100 h-100 object-fit-cover"
      [ngClass]="{
        'object-fit-none':selectedProduct<=2
      }"
      alt="Product Image"
    />
  </div>
  <div
    class="content-text-product position-relative z-1 mx-3 mx-md-5 py-5"
    style="background-color: transparent;"
  >
    <h1 class="mb-5">NCA for Customer</h1>
    <div class="grid gap-0 list-group list-group-horizontal row" style="background-color: transparent;">
      <ng-container *ngFor="let item of product; let i = index">
        <!-- Product Number -->
        <div
          class="list-group-item fw-bolder home-title border-0 col-1 d-flex justify-content-center align-items-center text-white text-center py-5"
          [ngClass]="{
            'bg-danger': selectedProduct === i,
            'bg-dark-subtle': selectedProduct !== i,
            'rounded-top-1': item.no=='1',
            'rounded-bottom-0': item.no=='1',
            'rounded-bottom-1': item.no=='7'
          }"
          style="cursor: pointer; font-size: 1.3rem;"
          (click)="selectProduct(i)"
        >
          {{ item.no }}
        </div>

        <!-- Product Details -->
        <div
          class="list-group-item border-0 rounded-0 col-11 d-flex justify-content-center align-items-center text-center"
          style="background-color: transparent;"
        >
          <a
            class="list-group-item list-group-item-action border-0"
            aria-current="true"
            style="background-color: transparent; cursor: pointer;"
            (click)="selectProduct(i)"
          >
            <div class="d-flex w-100 justify-content-between" style="background-color: transparent;"
            [ngClass]="{
              'text-danger': selectedProduct === i,
              'text-dark-emphasis': selectedProduct !== i,
            }">
              <h3 class="mb-1">{{ item.title }}</h3>
            </div>
            <div
              *ngIf="selectedProduct === i"
              class="card card-body border-0 rounded-0 p-0 text-start"
              style="background-color: rgba(0, 0, 0, 0); font-weight: normal; font-size: 1.3rem;"
            >
              {{ item.contents }}
            </div>
          </a>
        </div>
      </ng-container>
    </div>
  </div>
</section>
