<div class="container-fluid {{ isHomepage ? 'position-absolute' : '' }}">
  <nav class="navbar navbar-expand-md row bg-gray align-items-center" style="background-image: url('assets/img/bg-navbar.png');">
    <div class="col-md-4">
      <img src="assets/img/logo.png" class="cursor-pointer" alt="" height="40" routerLink="home">
      <button class="navbar-toggler float-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="col-md-8">
      <div class="collapse navbar-collapse fw-bolder row flex-wrap" id="navbarText">
        <div class="navbar-nav text-center">
          <div class="col-md-2"></div>
           <div class="col-md-2 nav-item"><a routerLink="home" class="nav-link text-white fs-5 {{ currentPath === '/home' || currentPath ==='/nca/home' ? 'fw-bolder' : '' }}">Home</a></div>
          <div class="col-md-2 nav-item"><a routerLink="about-us" class="nav-link text-white fs-5 {{ currentPath === '/about-us' || currentPath === '/nca/about-us' ? 'fw-bolder' : '' }}">About Us</a></div>
          <div class="col-md-2 nav-item"><a routerLink="product" class="nav-link text-white fs-5 {{ currentPath === '/product' || currentPath === '/nca/product' ? 'fw-bolder' : '' }}">Product</a></div>
          <div class="col-md-2 nav-item"><a routerLink="information" class="nav-link text-white fs-5 {{ currentPath === '/information' || currentPath === '/nca/information' ? 'fw-bolder' : '' }}">Information</a></div>
        </div>
      </div>
    </div>
  </nav>
</div>

