  <section class="d-flex justify-content-center align-items-center text-center text-white container-fluid p-md-5" style="background-image: url('assets/home/bg-home.jpg'); height: 95vh;">
    <div class="row">
      <div class="col-md-12">
        <h1 class="fw-bolder">Investing the Future</h1>
        <p class="mt-3">
          Mawaka Venture is the pioneering and leading sector-agnostic VC firm <br>
          passionate in bringing success to tech startups and sustainable impact <br>
          to the digital acosystem in Southeast Asia.
        </p>
        <button class="btn border border-2 rounded-5 text-white">
          Learn More ->
        </button>
      </div>
    </div>
  </section>

  <section class="container my-5">
    <div class="row">
      <div class="col-md-4">
        <h1 class="fw-bolder">Our People</h1>
      </div>
      <div class="col-md-8">
        <p>
          Our team of experienced and passionate professionals is the backbone of the <br>
          Northstar Group and the primary driver of our success.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 card border border-0">
        <div class="card-body">
          <img src="assets/home/person.jpg" alt="" class="w-100 bg-secondary border border-2 rounded-5 pt-md-5 pe-md-5 ps-md-5" >
          <h4 class="text-center">
            <span class="fw-bolder">Name</span><br>
            Founding Partner
          </h4>
        </div>
      </div>
      <div class="col-md-4 card border border-0">
        <div class="card-body">
          <img src="assets/home/person.jpg" alt="" class="w-100 bg-secondary border border-2 rounded-5 pt-md-5 pe-md-5 ps-md-5" >
          <h4 class="text-center">
            <span class="fw-bolder">Name</span><br>
            Founding Partner
          </h4>
        </div>
      </div>

      <div class="col-md-4 card border border-0">
        <div class="card-body">
          <img src="assets/home/person.jpg" alt="" class="w-100 bg-secondary border border-2 rounded-5 pt-md-5 pe-md-5 ps-md-5" >
          <h4 class="text-center">
            <span class="fw-bolder">Name</span><br>
            Founding Partner
          </h4>
        </div>
      </div>
      <div class="col-md-4 card border border-0">
        <div class="card-body">
          <img src="assets/home/person.jpg" alt="" class="w-100 bg-secondary border border-2 rounded-5 pt-md-5 pe-md-5 ps-md-5" >
          <h4 class="text-center">
            <span class="fw-bolder">Name</span><br>
            Founding Partner
          </h4>
        </div>
      </div>

      <div class="col-md-4 card border border-0">
        <div class="card-body">
          <img src="assets/home/person.jpg" alt="" class="w-100 bg-secondary border border-2 rounded-5 pt-md-5 pe-md-5 ps-md-5" >
          <h4 class="text-center">
            <span class="fw-bolder">Name</span><br>
            Founding Partner
          </h4>
        </div>
      </div>
      <div class="col-md-4 card border border-0">
        <div class="card-body">
          <img src="assets/home/person.jpg" alt="" class="w-100 bg-secondary border border-2 rounded-5 pt-md-5 pe-md-5 ps-md-5" >
          <h4 class="text-center">
            <span class="fw-bolder">Name</span><br>
            Founding Partner
          </h4>
        </div>
      </div>
    </div>
  </section>

  <section class="container my-5">
    <div class="row">
      <div class="col-md-12">
        <h1 class="fw-bolder">Our Portfolio</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button class="btn rounded-5 border-2 border">All Category</button>
        <button class="btn rounded-5 border-2 border ms-1">Construction</button>
        <button class="btn rounded-5 border-2 border ms-1">Telco - Infrastructure</button>
        <button class="btn rounded-5 border-2 border ms-1">Power Solution</button>
        <button class="btn rounded-5 border-2 border ms-1">Logistics</button>
        <button class="btn rounded-5 border-2 border ms-1">Business Services</button>
        <button class="btn rounded-5 border-2 border ms-1">Fintech</button>
      </div>
    </div>
    <div class="row m-3 row-cols-md-4 g-4">
      <div class="col">
        <div class="card rounded-5">
          <div class="card-body">
            <img src="assets/home/person.jpg" alt="" class="w-100 border border-0 rounded-5" >
            <h6 class="fw-bolder mt-3">PT. Layton Enterprise</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card rounded-5">
          <div class="card-body">
            <img src="assets/home/person.jpg" alt="" class="w-100 border border-0 rounded-5" >
            <h6 class="fw-bolder mt-3">PT. Layton Enterprise</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card rounded-5">
          <div class="card-body">
            <img src="assets/home/person.jpg" alt="" class="w-100 border border-0 rounded-5" >
            <h6 class="fw-bolder mt-3">PT. Layton Enterprise</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card rounded-5">
          <div class="card-body">
            <img src="assets/home/person.jpg" alt="" class="w-100 border border-0 rounded-5" >
            <h6 class="fw-bolder mt-3">PT. Layton Enterprise</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card rounded-5">
          <div class="card-body">
            <img src="assets/home/person.jpg" alt="" class="w-100 border border-0 rounded-5" >
            <h6 class="fw-bolder mt-3">PT. Layton Enterprise</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card rounded-5">
          <div class="card-body">
            <img src="assets/home/person.jpg" alt="" class="w-100 border border-0 rounded-5" >
            <h6 class="fw-bolder mt-3">PT. Layton Enterprise</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card rounded-5">
          <div class="card-body">
            <img src="assets/home/person.jpg" alt="" class="w-100 border border-0 rounded-5" >
            <h6 class="fw-bolder mt-3">PT. Layton Enterprise</h6>
          </div>
        </div>
      </div>

<!--      -->
<!--      -->
<!--      <div class="col-md-3 card rounded-5">-->
<!--        <div class="card-body">-->
<!--          <img src="assets/home/person.jpg" alt="" class="w-100 border border-0 rounded-5" >-->
<!--          <h6 class="fw-bolder mt-3">PT. Layton Enterprise</h6>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-3 card rounded-5">-->
<!--        <div class="card-body">-->
<!--          <img src="assets/home/person.jpg" alt="" class="w-100 border border-0 rounded-5" >-->
<!--          <h6 class="fw-bolder mt-3">PT. Layton Enterprise</h6>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col-md-3 card rounded-5">-->
<!--        <div class="card-body">-->
<!--          <img src="assets/home/person.jpg" alt="" class="w-100 border border-0 rounded-5" >-->
<!--          <h6 class="fw-bolder mt-3">PT. Layton Enterprise</h6>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-3 card rounded-5">-->
<!--        <div class="card-body">-->
<!--          <img src="assets/home/person.jpg" alt="" class="w-100 border border-0 rounded-5" >-->
<!--          <h6 class="fw-bolder mt-3">PT. Layton Enterprise</h6>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col-md-3 card rounded-5">-->
<!--        <div class="card-body">-->
<!--          <img src="assets/home/person.jpg" alt="" class="w-100 border border-0 rounded-5" >-->
<!--          <h6 class="fw-bolder mt-3">PT. Layton Enterprise</h6>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-3 card rounded-5">-->
<!--        <div class="card-body">-->
<!--          <img src="assets/home/person.jpg" alt="" class="w-100 border border-0 rounded-5" >-->
<!--          <h6 class="fw-bolder mt-3">PT. Layton Enterprise</h6>-->
<!--        </div>-->
<!--      </div>-->


    </div>
    </section>
