<section class="d-flex justify-content-center align-items-center  container-fluid p-md-5"
         style="background-image: url('assets/img/bg-home.png'); background-position: center; background-position-y: -1000px; background-repeat: no-repeat; height: 95vh;">
  <div class="row">
    <div class="col-md-12">
      <h2 class="fw-bolder home-title">
        Leading in Power Solution <br>
        <span class="fst-italic fw-normal">#Thrive on innovation</span>
      </h2>
      <h3 class="mt-3 fw-normal subtitle">
        Our expertise in power solutions enables us <br>
        to provide cutting-edge technology tailored <br>
        to your specific needs. Experience the future <br>
        of power with us.
      </h3>
      <button id="btnLearnMore" #btnLearnMore class="btn btn-danger rounded-2 text-white mt-3 p-md-3" routerLink="../about-us">
        Learn More <i class="bi bi-arrow-right"></i>
      </button>
    </div>
  </div>
</section>

<div class="bg-white py-md-5 mt-5">
  <section class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="fw-bolder display-5">Our Business Line</h1>
      </div>
      <div class="col-md-12">
        <p class="text-justify fs-3">
          Empower your business with expert energy solutions planning, installation, <br>
          and maintenance all covered by our years of experience
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
      </div>
    </div>

  </section>
</div>

<div class="bg-white py-md-5 mt-5">
  <section class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="fw-bolder display-5">Improving Your Business Growth</h1>
      </div>
      <div class="col-md-12">
        <p class="text-justify fs-3">
          Discover More Opportunities and Innovation with Our Solutions
        </p>
      </div>
      <div class="col-md-12">
        <p class="text-justify fs-3">

        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p class="text-justify fs-3">
          We deliver tailored energy solutions to enhance your business. <br>
          Our experts assess your electrical infrastructure and offer <br>
          strategies to maximize efficiency and reliability
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <button id="btnLearnMore" #btnLearnMore class="btn btn-danger rounded-2 text-white mt-3 p-md-3" routerLink="../about-us">
          Learn More <i class="bi bi-arrow-right"></i>
        </button>
      </div>
    </div>

  </section>
</div>

<div class="bg-white py-md-5 mt-5">
  <section class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="fw-bolder display-5">Project Experience</h1>
      </div>
      <div class="col-md-12">
        <p class="text-justify fs-3">
          NCA has a proven track record of delivering successful projects <br>
          for diverse clients, including major telecommunications <br>
          companies, spanning over six years
        </p>
      </div>
      <div class="col-md-12">
        <p class="text-justify fs-3">

        </p>
      </div>
    </div>
  </section>
</div>

<div class="bg-white py-md-5 mt-5">
  <section class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="fw-bolder display-5">Customers & Partners</h1>
      </div>
      <div class="col-md-12">
        <p class="text-justify fs-3">
          Trust of major corporations strengthens our commitment to <br>
          providing the best power solutions that meet global challenges
        </p>
      </div>
      <div class="col-md-12">
        <p class="text-justify fs-3">

        </p>
      </div>
    </div>
  </section>
</div>
