<section class="container-fluid bg-white">
  <div class="row p-md-5">
    <div class="col-md-6 mt-5">
      <div class="row">
        <div class="col-md-7">
          <input type="text" class="form-control border-0 nca-bg-secondary" placeholder="Nama">
        </div>
        <div class="col-md-5">
          <input type="text" class="form-control border-0 nca-bg-secondary" placeholder="Nama Perusahaan">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-7">
          <input type="text" class="form-control border-0 nca-bg-secondary" placeholder="No. Handphone">
        </div>
        <div class="col-md-5">
          <input type="email" class="form-control border-0 nca-bg-secondary" placeholder="Email">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12">
          <input type="text" class="form-control border-0 nca-bg-secondary" placeholder="Subjek">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12">
          <textarea name="" id="" cols="30" rows="10" class="form-control border-0 nca-bg-secondary" placeholder="Pesan"></textarea>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12">
          <button class="w-100 btn btn-danger fw-bold">Submit Pesan</button>
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-5">
      <h2 class="fw-bold nca-text-danger display-3">inquiries</h2>
      <h3 class="fw-bold">Connect with us for innovative and reliable energy solutions.</h3>
      <p class="mt-5 fw-normal">
        For further inquiries, please contact us below
      </p>
      <div class="d-block">
        <img src="assets/img/contact-us/Email.png" alt="email" width="50" height="50"> <span>&nbsp;sales@nunca.co.id</span>
      </div>
      <div class="d-block my-3">
        <img src="assets/img/contact-us/Phone.png" alt="phone" width="50" height="50"> <span>&nbsp;021 8062-5849</span>
      </div>
    </div>
  </div>
</section>
