<section class="container my-5 pt-md-5 c-pt-2">
  <div class="row">
    <div class="col-md-12">
      <h1 class="fw-bolder">Our Invesment Philosophy</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>
        The invesment philosophy encapsulated in our name which drawns from indonesian Sanskrit values, reflecting our <br>
        core principles:
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <p><span class="fw-bolder">Ma</span> - <span class="fst-italic">Manacika</span></p>
          <p>
            We embrace optimism as the <br>
            foundation of our approach, seeking to <br>
            unlock the potential of Small and <br>
            Medium Enterprises (SMEs) through a <br>
            positive outlook and belief in their <br>
            growth.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <p><span class="fw-bolder">wa</span> - <span class="fst-italic">Wacika</span></p>
          <p>
           Collaboration is at the heart of our <br>
           strategy. e foster synergistic <br>
           partnerships, both within our <br>
           environment and with stakeholders, to <br>
           amplify the impact of our investments
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <p><span class="fw-bolder">ka</span> - <span class="fst-italic">Kayika</span></p>
          <p>
            Commitment is our unwavering <br>
            promise. We are dedicated to adding <br>
            long-term value, aligning our interests <br>
            with management, and prudentity <br>
            managing riskts to ensure sustainable <br>
            success.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-12">
      <h1 class="fw-bolder">Our People</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-2 text-center">
      <p>Ridho Singgih</p>
      <p>Founding Partner</p>
    </div>
    <div class="col-md-2 text-center">
      <p>Handy Setianto</p>
      <p>Founding Partner</p>
    </div>
    <div class="col-md-2 text-center">
      <p>Edgar Handoko</p>
      <p>Founding Partner</p>
    </div>
    <div class="col-md-2 text-center">
      <p>Alfian Rosaldi</p>
      <p>Founding Partner</p>
    </div>
    <div class="col-md-2 text-center">
      <p>Naufal Aji</p>
      <p>Founding Partner</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-8">
      <h3 class="fw-bolder">Ridho Singgih</h3>
      <p></p>
    </div>
  </div>
</section>

