<section class="container my-5 pt-md-5 c-pt-2">
  <div class="row">
    <div class="col-md-12">
      <h1 class="fw-bolder">Our Invesment Philosophy</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>
        The invesment philosophy encapsulated in our name which drawns from indonesian Sanskrit values, reflecting our <br>
        core principles:
      </p>
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col-md-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <p><span class="fw-bolder">Ma</span> - <span class="fst-italic">Manacika</span></p>
          <p>
            We embrace optimism as the
            foundation of our approach, seeking to
            unlock the potential of Small and
            Medium Enterprises (SMEs) through a
            positive outlook and belief in their
            growth.
          </p>
        </div>
      </div>
      <img src="assets/home/bg-home.jpg" alt="" class="w-100 mt-3 mb-5">
    </div>
    <div class="col-md-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <p><span class="fw-bolder">wa</span> - <span class="fst-italic">Wacika</span></p>
          <p>
           Collaboration is at the heart of our
           strategy. e foster synergistic
           partnerships, both within our
           environment and with stakeholders, to
           amplify the impact of our investments
          </p>
        </div>
      </div>
      <img src="assets/home/bg-home.jpg" alt="" class="w-100 mt-3 mb-5">
    </div>
    <div class="col-md-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <p><span class="fw-bolder">ka</span> - <span class="fst-italic">Kayika</span></p>
          <p>
            Commitment is our unwavering
            promise. We are dedicated to adding
            long-term value, aligning our interests
            with management, and prudentity
            managing riskts to ensure sustainable
            success.
          </p>
        </div>
      </div>
      <img src="assets/home/bg-home.jpg" alt="" class="w-100 mt-3 mb-5">
    </div>
  </div>

  <div class="row mt-5 mb-5">
    <div class="col-md-12 text-center">
      <h1 class="fw-bolder">Our People</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-2 text-center">
      <div class="photo-container">
        <img src="assets/Materi Website Mawaka/Foto Ridho Singgih Setiawan.jpeg" alt="" class="img-fluid rounded mb-3">
      </div>
      <p>Ridho Singgih</p>
      <p>Founding Partner</p>
    </div>
    <div class="col-md-2 text-center">
      <div class="photo-container">
        <img src="assets/Materi Website Mawaka/Foto Handy Setianto.jpeg" alt="" class="img-fluid rounded mb-3">
      </div>
      <p>Handy Setianto</p>
      <p>Founding Partner</p>
    </div>
    <div class="col-md-2 text-center">
      <div class="photo-container">
        <img src="assets/Materi Website Mawaka/Foto Edgar Handoko.jpeg" alt="" class="img-fluid rounded mb-3">
      </div>
      <p>Edgar Handoko</p>
      <p>Founding Partner</p>
    </div>
    <div class="col-md-2 text-center">
      <div class="photo-container">
        <img src="assets/Materi Website Mawaka/Foto Alfian Rosadi.jpeg" alt="" class="img-fluid rounded mb-3">
      </div>
      <p>Alfian Rosaldi</p>
      <p>Founding Partner</p>
    </div>
    <div class="col-md-2 text-center">
      <div class="photo-container">
        <img src="assets/Materi Website Mawaka/Foto Ridho Singgih Setiawan.jpeg" alt="" class="img-fluid rounded mb-3">
      </div>
      <p>Naufal Aji</p>
      <p>Founding Partner</p>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-4">
      <img src="assets/Materi Website Mawaka/Foto Ridho Singgih Setiawan.jpeg" alt="" class="w-100 rounded mb-3">
    </div>
    <div class="col-md-8">
      <h3 class="fw-bolder">Ridho Singgih</h3>
      <p></p>
    </div>
  </div>
</section>

