.c-pt-1 {
  padding-top: 100px !important;
}

.c-pt-2 {
  padding-top: 200px !important;
}

.vision-mission-container {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

/* card.component.scss */
.custom-card {
  position: relative;
}

.top-left-button {
  position: absolute;
  top: -15px;
  left:-8px;
  cursor: default;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.photo-container {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%; /* 1:1 aspect ratio (square) */
  background-color: #eff4f9;
  border-radius: 8px;
}

.photo-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Ensure the image is fully visible without distortion */
  transition: transform 0.3s ease; /* Transition effect */
}

.expanded {
  transform: scale(1.05); /* Scale up the container when expanded */
  transition: transform 0.6s ease;
}

.bold-text {
  font-weight: bold; /* Bolden the text */
}

.container {
  position: relative;
  z-index: 1;
}

.container img {
  z-index: 2; /* Ensure images are above the background */
}

.text-in-blue {
  color: white;
}


