@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-Medium.ttf') format('ttf'),
       url('/assets/fonts/Poppins-SemiBold.ttf') format('ttf')
  /* Add other font formats if necessary */
}

.body {
  font-family: 'Poppins', sans-serif !important;
}

.bg-gray {
  background-color: #EDF1F5 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.custom-pill-end {
  border-style: solid !important;
  border-width: 1px !important;
  border-top-right-radius: 150px !important;
  border-bottom-right-radius: 150px !important;
  padding: 30px;
}

.custom-pill-start {
  border-style: solid !important;
  border-width: 1px !important;
  border-top-left-radius: 150px !important;
  border-bottom-left-radius: 150px !important;
  padding: 30px;
}

.text-mawaka {
  color: #0B3E7C !important;
}

.bg-mawaka {
  background-color: #0B3E7C !important;
}

.bg-mawaka-light {
  background-color: #eff4f9 !important;
}

.bg-mawaka-light-secondary {
  background-color: #e0ecf9;
}

.border-color-mawaka {
  border: 1px solid #0B3E7C !important;
}

.border-gray {
  border: 1px solid #9da1ab !important;
}

.text-gray {
  color: #9da1ab !important;
}

.text-justify {
  text-align: justify;
}


.title {
  background-size: calc(100% - 30px) auto;
  background: linear-gradient(#d4ede2, #d4ede2) no-repeat;
  background-position-y: 35px;
}

.title-dark {
  background-size: calc(100% - 30px) auto;
  background: linear-gradient(#4d8096, #4d8096) no-repeat;
  background-position-y: 35px;
}

