.text-mawaka {
  color: #0B3E7C !important;
}

.bg-mawaka {
  background-color: #0B3E7C !important;
}

.bg-mawaka-light {
  background-color: #eff4f9 !important;
}

.bg-mawaka-light-secondary {
  background-color: #e0ecf9;
}

.border-color-mawaka {
  border: 1px solid #0B3E7C !important;
}

.text-justify {
  text-align: justify;
}
